html{position:relative;min-height:100%}
body{margin-bottom:69px}
.bg-primary a{color:white;text-decoration:underline}
.bg-primary a:hover{color:#eee}
a.text-muted:hover{color:#777}
.main-footer{position:absolute;bottom:0;box-sizing:border-box;width:100%;height:69px;overflow:hidden;border-top:1px solid #e5e5e5;color:#777}
.main-footer ul{list-style:none;padding:18px 0;margin:0;box-sizing:content-box;min-height:32px}
.main-footer ul li{display:inline-block;vertical-align:top;line-height:31px;margin:0 0 0 30px}
.main-footer ul.left{float:left}
.main-footer ul.left li:first-child{margin-left:0}
.main-footer ul.right{float:right}
.main-footer a.icon{display:block;vertical-align:middle;height:31px;background:url(/static/img/layout/sprites.min.png?7) no-repeat}
.main-footer a.icon.wm-c{width:88px;background-position:-224px -133px}
.main-footer a.icon.wm-c:hover{background-position:-224px -101px}
.main-footer a.icon.wm-m{width:88px;background-position:-312px -133px}
.main-footer a.icon.wm-m:hover{background-position:-312px -101px}
.main-footer a.icon.goha{width:68px;background-position:-401px -133px}
.main-footer a.icon.goha:hover{background-position:-401px -101px}
.main-footer a.icon.vk{width:31px;background-position:-470px -133px}
.main-footer a.icon.vk:hover{background-position:-470px -101px}
.main-footer a.icon.pwlvl{width:31px;background-position:-502px -133px}
.main-footer a.icon.pwlvl:hover{background-position:-502px -101px}
.monospace{font-family:Menlo, Monaco, Consolas, "Courier New", monospace}
.masked-links a{color:inherit}
.main-container{padding-bottom:80px}
.layout-swap{display:table;table-layout:fixed;width:100%}
.layout-swap>div{display:table-row-group}
.layout-swap>div:first-child{display:table-footer-group}
.text-block p:last-child{margin-bottom:0}
.text-block.text-block-bottom{padding-top:20px;color:#777}
#global-origin{position:relative}
#site-message{position:fixed;z-index:5000;right:0;top:0;width:350px;font-size:1.1em;padding:0.8em 1em;margin:0;display:none}
#db-log{margin-bottom:20px;padding:0.5em;border:1px solid #ddd;background-color:#f4f1ec;font-size:12px;font-family:"Courier New", Courier, monospace}
#db-log>div{margin-top:0.5em}
#db-log>div:first-child{margin-top:0}
textarea{resize:vertical}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
textarea:focus::-webkit-input-placeholder{color:transparent}
textarea:focus:-moz-placeholder{color:transparent}
textarea:focus::-moz-placeholder{color:transparent}
textarea:focus:-ms-input-placeholder{color:transparent}
.glyphicon-margin-left{margin-left:5px}
ul.form-messages{padding-left:0;list-style:none;margin-bottom:15px}
ul.form-messages li{margin-top:5px}
ul.form-messages li:first-child{margin-top:0}
ul.user-gates{padding:0;margin:0;list-style:none}
ul.user-gates li{margin-top:10px;white-space:nowrap}
ul.user-gates li:first-child{margin-top:0}
ul.user-gates li .pic{margin-right:10px}
ul.user-gates li .pic img{border-radius:5px;height:36px;vertical-align:middle;width:36px}
ul.user-gates li .name{font-size:1.3em;vertical-align:middle}
.login-gates .comment{margin-top:10px}
.navbar .vk span{display:block;margin:4px 0 3px;width:23px;height:13px;background:url(/static/img/layout/sprites.min.png?7) no-repeat -59px -160px;opacity:0.8}
.navbar .vk:hover span{background-position:-36px -160px;opacity:1}
.btn-vk{color:#fff;background-color:#6383a8;border-color:#537398}
.btn-vk:focus,.btn-vk.focus{color:#fff;background-color:#4d6a8b;border-color:#263546}
.btn-vk:hover{color:#fff;background-color:#4d6a8b;border-color:#3d5570}
.btn-vk:active,.btn-vk.active,.open>.btn-vk.dropdown-toggle{color:#fff;background-color:#4d6a8b;border-color:#3d5570}
.btn-vk:active:hover,.btn-vk:active:focus,.btn-vk:active.focus,.btn-vk.active:hover,.btn-vk.active:focus,.btn-vk.active.focus,.open>.btn-vk.dropdown-toggle:hover,.open>.btn-vk.dropdown-toggle:focus,.open>.btn-vk.dropdown-toggle.focus{color:#fff;background-color:#415874;border-color:#263546}
.btn-vk:active,.btn-vk.active,.open>.btn-vk.dropdown-toggle{background-image:none}
.btn-vk.disabled:hover,.btn-vk.disabled:focus,.btn-vk.disabled.focus,.btn-vk[disabled]:hover,.btn-vk[disabled]:focus,.btn-vk[disabled].focus,fieldset[disabled] .btn-vk:hover,fieldset[disabled] .btn-vk:focus,fieldset[disabled] .btn-vk.focus{background-color:#6383a8;border-color:#537398}
.btn-vk .badge{color:#6383a8;background-color:#fff}
form div.captcha{display:block;height:80px;margin-bottom:1em;line-height:80px;vertical-align:middle}
form div.captcha img{width:180px;height:80px;vertical-align:bottom;cursor:pointer}
form div.captcha span{margin-left:1em;cursor:pointer;color:#777}
form div.captcha span:hover{color:black}
table.values{border-collapse:collapse;border:0;padding:0;margin:0}
table.values>tbody>tr>*{vertical-align:baseline;text-align:left;padding:0.6em 0 0 0}
table.values>tbody>tr:first-child>*{padding-top:0}
table.values>tbody>tr.top>*{vertical-align:top}
table.values>tbody>tr>th{padding-right:1.2em;font-weight:bold;color:#777;white-space:nowrap}
table.values>tbody>tr>th.wrap{white-space:normal}
h1+table.values,h2+table.values,h3+table.values{margin-top:12px}
table.table-clickable tbody tr{cursor:pointer}
h1 small .label,h2 small .label{font-weight:normal}
.margin-top{margin-top:20px}
.margin-bottom{margin-bottom:20px}
table.table-growing tbody>tr>td{vertical-align:middle}
table.table-checkboxes tbody>tr>td{vertical-align:middle}
table.table-checkboxes div.checkbox{margin-top:0;margin-bottom:0}
.table-nonfluid{width:auto}
table.exchange-rates-edit{margin-bottom:20px}
table.exchange-rates-edit td{vertical-align:middle;padding:8px}
table.exchange-rates-edit td:first-child{padding-left:0}
.form-narrow .btn-block,.form-narrow .form-control,.form-narrow .input-group{max-width:400px}
.form-inline-multiline .form-group{margin-bottom:15px}
.balance-currencies td{padding:15px;font-size:16px;vertical-align:baseline;white-space:nowrap}
.balance-currencies td:first-child{padding-left:0}
.balance-currencies td .checkbox{margin:0}
.balance-currencies td .checkbox input{margin-top:5px}
.balance-currencies div.cy-name{position:relative;padding-left:45px}
.balance-currencies div.cy-name span.logo{display:block;position:absolute;left:0;background:url(/static/img/layout/sprites.min.png?7) no-repeat}
.balance-currencies div.cy-name span.logo.wmr{width:32px;height:32px;background-position:0 0;top:-5px}
.balance-currencies div.cy-name span.logo.qiwi{width:35px;height:36px;background-position:-33px 0;top:-5px}
.balance-currencies div.cy-name span.logo.yandex{width:28px;height:37px;background-position:-69px 0;top:-12px;left:3px}
.content-chips-trade form .form-control,.content-chips-trade form .input-group{max-width:200px}
.content-chips-trade form table{width:auto}
.content-chips-trade form a.calc span{position:relative;top:2px}
.content-chips-trade .modal-calc p,.content-chips-trade .modal-calc table{margin-bottom:0}
span.glyphicon-info-sign.inline{position:relative;top:3px;color:#777}
.message-reviews{padding:15px;margin-bottom:20px}
.message-reviews ul{margin-bottom:0}
table.transactions tbody tr{cursor:pointer}
table.transactions .transaction-status .glyphicon{position:relative;top:2px}
table.values .transaction-status .glyphicon{position:relative;top:3px}
.transaction-status-complete .transaction-status{color:#337ab7}
.transaction-status-complete .transaction-status .glyphicon:before{content:"\e084"}
.transaction-status-waiting .transaction-status{color:#8a6d3b}
.transaction-status-waiting .transaction-status .glyphicon:before{content:"\e023"}
.transaction-status-cancel .transaction-status{color:#a94442}
.transaction-status-cancel .transaction-status .glyphicon:before{content:"\e090"}
.table>thead>tr>td.transaction-status-waiting,.table>thead>tr>th.transaction-status-waiting,.table>thead>tr.transaction-status-waiting>td,.table>thead>tr.transaction-status-waiting>th,.table>tbody>tr>td.transaction-status-waiting,.table>tbody>tr>th.transaction-status-waiting,.table>tbody>tr.transaction-status-waiting>td,.table>tbody>tr.transaction-status-waiting>th,.table>tfoot>tr>td.transaction-status-waiting,.table>tfoot>tr>th.transaction-status-waiting,.table>tfoot>tr.transaction-status-waiting>td,.table>tfoot>tr.transaction-status-waiting>th{background-color:#fcf8e3}
.table-hover>tbody>tr>td.transaction-status-waiting:hover,.table-hover>tbody>tr>th.transaction-status-waiting:hover,.table-hover>tbody>tr.transaction-status-waiting:hover>td,.table-hover>tbody>tr:hover>.transaction-status-waiting,.table-hover>tbody>tr.transaction-status-waiting:hover>th{background-color:#faf2cc}
#content table.orders td{vertical-align:middle}
#content table.orders td a{color:#333;text-decoration:none;outline:none}
#content table.chip-offers td{vertical-align:middle;white-space:nowrap}
.content-chips-offer .pull-left.sum,.content-chips-offer .pull-left.amount{width:180px}
.content-chips-offer .pull-left.arrows{width:40px}
.content-chips-offer .pull-left.arrows p{text-align:center}
.content-chips-offer .pull-left.arrows .glyphicon{font-size:19px;margin:0 7px;color:#777}
.orders-reviews .review{margin-top:15px}
.orders-reviews .review>.head{color:#777}
.orders-reviews .review:first-child{margin-top:0}
.orders-reviews .answer{margin-top:10px}
.orders-reviews .answer .head{font-weight:bold}
.chat{position:relative}
.chat .panel-bookmarks{position:absolute;width:180px;top:0;bottom:0}
.chat .panel-body{position:relative}
.chat .bookmarks{position:absolute;width:150px;left:-185px;top:15px;bottom:15px;overflow-y:auto}
.chat .bookmarks .name{max-width:120px;overflow:hidden;text-overflow:ellipsis}
.chat .bookmarks .unread>a{color:#fff;background-color:#ff8c00}
.chat .bookmarks .unread>a:hover{color:#fafafa;background-color:#f58600}
.chat .panel-bookmarks+.panel{margin-left:200px}
.chat .panel{margin-bottom:0}
.chat .messages{position:relative;height:300px;padding-right:15px;overflow-y:scroll}
.chat .messages.scrollbar-invisible{padding-right:0}
.chat .controls{margin-top:15px}
.chat .message{padding-top:10px}
.chat .message:first-child{padding-top:0}
.chat .message .head{position:relative;padding-bottom:5px}
.chat .message .head .user .glyphicon{color:#777;position:relative;top:2px;margin-right:1px}
.chat .message .head .time{position:absolute;top:0;right:0;color:#777}
.chat .message .body{overflow-x:auto}
.chat .message .body.notification{border-left:3px solid #5bc0de;padding-left:7px}
.callout{padding:20px;margin-bottom:20px;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.callout.callout-info{border-left-color:#1B809E}
.content-chips-promo ul.games{text-align:center;list-style:none;margin:0 0 0 -20px;padding:0}
.content-chips-promo ul.games li{display:inline-block;position:relative;vertical-align:top;width:270px;padding:0;margin:20px 0 0 20px}
.content-chips-promo ul.games li:hover .content{box-shadow:0 0 10px rgba(164,236,255,0.7)}
.content-chips-promo ul.games .content{border:1px solid #ddd;border-radius:4px;overflow:hidden}
.content-chips-promo ul.games a.block{position:absolute;left:0;top:0;right:0;bottom:0}
.content-chips-promo ul.games .logo{height:175px;background:url(/images/games.jpg?6) no-repeat 0 0}
.content-chips-promo ul.games .logo.game-1,.content-chips-promo ul.games .logo.game-10{background-position:-536px 0}
.content-chips-promo ul.games .logo.game-4,.content-chips-promo ul.games .logo.game-21{background-position:-268px 0}
.content-chips-promo ul.games .logo.game-5{background-position:-1340px 0}
.content-chips-promo ul.games .logo.game-2{background-position:-1608px 0}
.content-chips-promo ul.games .logo.game-3{background-position:-804px 0}
.content-chips-promo ul.games .logo.game-8{background-position:-1876px 0}
.content-chips-promo ul.games .logo.game-6,.content-chips-promo ul.games .logo.game-17{background-position:-1072px 0}
.content-chips-promo ul.games .logo.game-11{background-position:-2144px 0}
.content-chips-promo ul.games .logo.game-7,.content-chips-promo ul.games .logo.game-22{background-position:-2412px 0}
.content-chips-promo ul.games .logo.game-20{background-position:-2680px 0}
.content-chips-promo ul.games .logo.game-9{background-position:-2948px 0}
.content-chips-promo ul.games .logo.game-13{background-position:-3216px 0}
.content-chips-promo ul.games .logo.game-14{background-position:-3484px 0}
.content-chips-promo ul.games .logo.game-15{background-position:-3752px 0}
.content-chips-promo ul.games .logo.game-16{background-position:-4020px 0}
.content-chips-promo ul.games .logo.game-19{background-position:-4288px 0}
.content-chips-promo ul.games .info{background:#f5f5f5;height:93px}
.content-chips-promo ul.games .name{font-size:1.5em;padding:9px 0 3px}
.content-chips-promo ul.games .amount{color:#777}
.content-chips-promo ul.games .chips{padding-top:4px}
.content-chips-promo ul.games .chips a{min-width:7em}
.content-chips-promo ul.reviews{list-style:none;margin:-20px 0 0 -43px;text-align:center;padding:20px 0}
.content-chips-promo ul.reviews li{height:69px;display:inline-block;padding:0;margin:20px 0 0 43px}
.content-chips-promo ul.reviews a.logo{display:block;background:#aaa;width:150px;height:38px;margin:15px 0 16px;background:url(/static/img/layout/sprites.min.png?7) no-repeat}
.content-chips-promo ul.reviews a.logo.vk{background-position:-601px -101px}
.content-chips-promo ul.reviews a.logo.wmid{background-position:-601px -139px}
.content-chips-promo ul.reviews a.logo.goha{background-position:-601px -177px;height:69px;margin:0}
.content-chips-promo ul.reviews a.logo.defo{background-position:-601px -246px}
.content-chips-promo ul.reviews a.logo.advisor{background-position:-601px -284px}
.content-chips-promo ul.reviews .count{padding-top:10px}
.form-phone-verification p.phone{margin:0;padding:0;color:#777;font-size:1.6em}
.guess-rating table .player{width:100%}
.guess-rating table .pos,.guess-rating table .points,.guess-rating table .prize{text-align:right}
.guess-rating td{white-space:nowrap}
.modal .guess-rating{margin-top:20px}
.modal .guess-rating:first-child{margin-top:0}
.modal .guess-rating h3,.modal .guess-rating h4{margin-top:0}
.modal .guess-rating table{margin-bottom:0}
.guess-box div.image{width:360px;height:360px}
.guess-box .btn{margin-right:10px}
.guess-box .online{color:#777}
.guess-box .tab-game{font-size:1.3em}
.guess-box .tab-game td{vertical-align:top}
.guess-box .tab-game td.right{padding-left:20px;white-space:nowrap}
.guess-box .tab-game ul{list-style:none;padding:0;margin:20px 0 0}
.guess-box .tab-game li.img{padding:2px 0 3px}
.guess-box .tab-game li.img a{display:block;height:20px;float:left;overflow:hidden}
.guess-box .tab-game li.img a img{display:block}
.guess-box .tab-game li.img a img:hover{margin-top:-20px}
.guess-box .ratings{margin-top:20px}
.guess-box .ratings .guess-rating{float:left;margin-right:40px}
.guess-box .ratings .guess-rating table{width:300px}
body.vk-z-index .navbar-static-top{z-index:999}
body.vk-z-index .modal-backdrop{z-index:1000}
body.vk-z-index .modal{z-index:1001}
@media (min-width: 768px){.form-inline-margins .form-group{margin-right:10px}
.form-inline-margins .form-group label{margin-right:5px}
}
@media (min-width: 1200px){.page-header.image{margin-top:-20px;padding-top:60px;background:url(/images/titlp.jpg?2) no-repeat right bottom;text-shadow:0 0 2px #fff,0 0 2px #fff,0 0 2px #fff}
.page-header.image.game-6,.page-header.image.game-17{background-image:url(/images/aion.jpg)}
.page-header.image.game-15{background-image:url(/images/allods.jpg)}
.page-header.image.game-3{background-image:url(/images/archeage.jpg)}
.page-header.image.game-20{background-image:url(/images/black_desert.jpg)}
.page-header.image.game-7,.page-header.image.game-22{background-image:url(/images/blade_and_soul.jpg)}
.page-header.image.game-14{background-image:url(/images/elder_scrolls.jpg)}
.page-header.image.game-8{background-image:url(/images/eve.jpg)}
.page-header.image.game-9{background-image:url(/images/guild_wars.jpg)}
.page-header.image.game-1,.page-header.image.game-4,.page-header.image.game-10,.page-header.image.game-21{background-image:url(/images/lineage.jpg?3)}
.page-header.image.game-16{background-image:url(/images/path_of_exile.jpg?3)}
.page-header.image.game-11{background-image:url(/images/perfect_world.jpg)}
.page-header.image.game-12{background-image:url(/images/royal_quest.jpg)}
.page-header.image.game-13{background-image:url(/images/starwars.jpg)}
.page-header.image.game-5{background-image:url(/images/tera.jpg)}
.page-header.image.game-2{background-image:url(/images/wow.jpg?2)}
}
@media (max-width: 991px){body{margin-bottom:0}
.main-footer{position:static;height:auto;overflow:visible}
.main-footer .container ul.left,.main-footer .container ul.right{float:none;text-align:center}
.main-footer .container ul.left li,.main-footer .container ul.right li{margin:0 15px}
.main-footer .container ul.right{padding-top:0}
}


/* ###- Next my styles -### */

#page {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
#content.container {
    padding-right: 9px;
    padding-left: 9px;
}
li.page.selected > a {
	background-color: #eee;
	pointer-events: none;
	cursor: default;
}
#user_id_self {
	margin-top: 10px;
}
.grid-view table tr td a {
	cursor: pointer;
}
.inf-ok {
    position: absolute;
    bottom: 8.4%;
    right: 40%;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
}
